<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glow Girl - Inicio</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/adminLogin.css" />
    <link rel="icon" type="image/png" href="/img/icons/logo_head_icon.png">
</head>

<body class="background">
    <header>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="logo">
                <img class="store-logo" id="storeLogo" src="/img/icons/logo_tienda_light_icon.png" alt="Store Logo" />
            </div>
            <div class="icons">
                <img src="/img/icons/light_mode_icon.png" alt="Change Mode" class="icon-mode" id="btnMode">
            </div>
        </nav>
    </header>

    <main>
        <div class="form">
            <h1 class="tittle">¡Bienvenida!</h1>
            <div class="input-group">
                <input type="text" id="mail" placeholder="Ingrese su mail..." required />
                <input type="password" id="password" placeholder="Ingrese su contraseña..." required />
            </div>
            <div class="btn-group">
                <button class="btn-pink" id="btnAutocomplete">Autocompletar</button>
                <button class="btn-pink" id="btnEnter">Ingresar</button>
            </div>
            <a href="http://127.0.0.1:5500/frontend/login.html">
                <button class="btn-wine" id="btn-client">CLIENTE</button>
            </a>
        </div>
    </main>

    <%- include('partials/footer.ejs') %>
    <script type="module" src="/js/adminLogin.js"></script>
</body>

</html>