<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glow Girl - Inicio</title>
    <link rel="stylesheet" href="/css/adminLogin.css" />
    <link rel="icon" type="image/png" href="/img/icons/logo_head_icon.png">
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="logo">
                <img id="logo-tienda" src="/img/icons/logo_tienda_light_icon.png" alt="Logo Tienda" />
            </div>

            <div class="nombreAlumno">
                <p>Bianca Monteleone</p>
                <p>Fiorela Quipildor</p>
            </div>
            <div class="iconos">
                <img src="/img/icons/light_mode_icon.png" alt="Cambiar modo" id="btn-mode" class="modo-icono">
            </div>
        </nav>
    </header>

    <main>
        <div class="fondo">
            <form class="formulario">
                <h1 class="titulo">¡Bienvenida,<br>administradora!</h1>
                <input type="text" id="mail" placeholder="Ingrese su mail..." required />
                <input type="password" id="contraseña" placeholder="Ingrese su contraseña..." required />
                <button class="boton-ingresar" id="btn-autocompletar">Autocompletar</button>
                <button type="submit" class="boton-ingresar" id="btn-ingresar">Ingresar</button>
            </form>
        </div>

        <a href="http://127.0.0.1:5500/frontend/login.html">
            <button class="btn-admin" id="btn-ingreso-admin">CLIENTE</button>
        </a>
        </div>
    </main>

    <%- include('../partial/footer.ejs') %>

    <script src="/js/adminLogin.js"></script>
</body>

</html>
<!-- para el login de admins -->