/*----------------------------- General -----------------------------*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* para que el footer quede abajo si hay poco contenido */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
    /*nivel de la caja*/
}

/*----------------------------- Navbar -----------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    gap: 2rem;
    background-color: rgb(234, 211, 221);
}

.logo img {
    height: 60px;
    cursor: pointer;
    margin-right: 50px;
}

.icons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon {
    margin-top: 10px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.user {
    position: relative;
    display: inline-block;
}

.user img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* Responsive para pantallas menores a 768px */
@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        gap: 5px;
    }

    /* Bajamos la barra de búsqueda debajo del logo e iconos */
    .search-container {
        order: 3;
        flex: 1 1 100%;
        justify-content: center;
    }
}

.search-container {
    flex: 1 1 300px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 300px;
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid #f0a6ca;
    outline: none;
}

.icon-search {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-mode {
    height: 40px;
    cursor: pointer;
}

/*--------------------------- User window ---------------------------*/
.user-window {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 160px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

/*-----------------------------  Modal  -----------------------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    max-width: 350px;
    width: 90%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: appear 0.3s ease;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.modal-btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/*------------------------------ Main ------------------------------*/
main {
    padding: 1rem;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #b58db6;
    margin-top: 2rem;
}

/*----------------------------- Buttons -----------------------------*/
button {
    margin-top: 0.5rem;
    padding: 8px 16px;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-darkPink {
    background-color: #da7daa;
    color: white;
}

.btn-darkPink:hover {
    background-color: #bc6e94;
}

.btn-pink {
    background-color: #f0a6ca;
    color: white;
}

.btn-pink:hover {
    background-color: #b58db6;
}

.btn-wine {
    position: fixed;
    bottom: 115px;
    left: 20px;
    background-color: #63364b;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 1000;
    /* para que quede por encima de otros elementos */
}

.btn-wine:hover {
    background-color: #4e2b3b;
}

.btn-grey {
    background-color: #6c757d;
    color: white;
}

.btn-grey:hover {
    background-color: #5a6268;
}

.btn-red {
    background-color: #dc3545;
    color: white;
}

.btn-red:hover {
    background-color: #c82333;
}

/*----------------------------- Footer -----------------------------*/
footer {
    background-color: rgb(234, 211, 221);
    color: #4d334a;
    text-align: center;
    padding: 1.5rem 1rem;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.95rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    border-top: 2px solid #e5d4e9;
    margin-top: 3rem;
    position: static;
}

footer h5 {
    margin: 0.5rem 0 0.2rem;
    font-weight: 600;
    font-size: 1.05rem;
}

footer p {
    margin: 0;
    font-size: 0.85rem;
    color: #432943;
}

/*---------------------------- Dark Mode ----------------------------*/
body.dark-mode {
    background-color: #242526;
    color: #eaeaea;
}

body.dark-mode .navbar {
    background-color: #2e2e2e;
}

body.dark-mode .search-bar {
    border: 1px solid #a54d78;
    background-color: #141414;
    color: white;
}

body.dark-mode .user-window {
    background-color: #141414;
    border: 1px solid #999999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body.dark-mode h1 {
    color: #ffffff;
}
body.dark-mode h2 {
    color: #a580b6;
}

body.dark-mode .modal {
    background-color: #00000056;
}

body.dark-mode .modal-content {
    background-color: #181a1b;
    box-shadow: 0 0 15px rgba(28, 28, 28, 0.417);
}

body.dark-mode .btn-darkPink {
    background-color: #884695;
}

body.dark-mode .btn-darkPink:hover {
    background-color: #6e3978;
}
body.dark-mode .btn-pink {
    background-color: #b45288;
}

body.dark-mode .btn-pink:hover {
    background-color: #9f3e74;
}

body.dark-mode footer {
    background-color: #2e2e2e;
    color: #a580b6;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    border-top: 2px solid #e5d4e9;
    position:static;
}

body.dark-mode footer p {
    color: #a580b6;
}