/*----------------------------- General -----------------------------*/
body.fondo {
  background-image: url('http://localhost:5000/img/acceso_pag.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*------------------------------ Main ------------------------------*/
.contenedor-form {
  flex: 1;
  display: flex;
  align-items: center;     /* Centrado vertical */
  justify-content: center; /* Centrado horizontal */
  padding: 2rem 1rem;      /* Un poco de aire lateral si la pantalla es chica */
}

.formulario {
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  top: 15%;
  font-size: 3rem;
  color: #222;
  text-align: center;
  margin-bottom: 16px;
}

input {
  padding: 12px;
  font-size: 1rem;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 16px;
}

.boton-ingresar {
  background-color: #f09ac2;
  color: white;
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.boton-ingresar:hover {
  background-color: #e37aa9;
}

.btn-admin {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #63364b;
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
  /* para que quede por encima de otros elementos */
}

.btn-admin:hover {
  background-color: #4e2b3b;
}

/*---------------------------- Dark Mode ----------------------------*/
body.fondo.modo-oscuro {
  background-image: url('http://localhost:5000/img/acceso_pag_dark.jpg');
}

body.modo-oscuro .formulario {
  background-color: rgba(40, 40, 40, 0.9);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
}

body.modo-oscuro .titulo {
  color: #f0f0f0;
}

body.modo-oscuro input {
  background-color: #2b2b2b;
  color: #f0f0f0;
  border: 1px solid #888;
}

body.modo-oscuro input::placeholder {
  color: #aaa;
}

body.modo-oscuro .boton-ingresar {
  background-color: #b45288;
}

body.modo-oscuro .boton-ingresar:hover {
  background-color: #9f3e74;
}