body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  padding: 2rem;
}

.ticket-container {
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.titulo-gracias {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.subtitulo {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
}

.id-compra {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.info-linea {
  border-bottom: 1px solid #ccc;
  margin: 1rem 0;
}

.item-table th,
.item-table td {
  font-size: 0.95rem;
  vertical-align: middle;
}

.total-line {
  border-top: 3px solid #c79efb;
  margin: 1rem 0;
}

/* para imprimir el pdf */
@media print {
  body * {
    visibility: hidden;
  }

  .ticket-container, .ticket-container * {
    visibility: visible;
  }

  .ticket-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #btn-descargar, #btn-salir {
    display: none;
  }
}
